@import "@/stylesheets/_mixin.scss";

.cinema-detail-container {
  .header-title {
    height: 0.44rem;
    padding: 0 0.15rem;
    text-align: center;
    font-size: 0.17rem;
    color: #191a1b;
    line-height: 0.44rem;
  }
  .services-wrapper{
    padding: 0.05rem 0.15rem 0.15rem 0.15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
    .tags{
      .tag-item{
        margin-right: 0.05rem;
        padding: 0 0.02rem;
      }
    }
  }
  .location-wrapper{
    height: 0.5rem;
    display: flex;
    align-items: center;
    padding: 0 0.15rem;
    .addr{
      // padding: 0.15rem;
      margin: 0 0.15rem;
      border-right: 0.01rem solid #eee;
      font-size: 0.14rem;
      color: #191a1b;
      @include ellipsis-one();
    }
    .phone-icon{

    }
  }
}