@import "@/stylesheets/_mixin.scss";
@import "@/stylesheets/_base.scss";
@import "@/stylesheets/_mixin.scss";

.buy-ticket-detail-box{
    .header-wrapper{
        padding: 0.125rem;
        background: $base-color;
        display: flex;
        // align-items: center;
        color: #fff;
        .right-wrapper{
            flex: 1;
            margin-left: 0.1rem;
            .title-box{
                display: flex;
                justify-content: space-between;
                align-items: center;
                h3{
                    //color: #fff;
                    width: 1.5rem;
                    @include ellipsis-one();
                } 
                .count-price{
                    font-size: 0.14rem;
                }
            }
            .date-time-language-type{
                font-size: 0.14rem;
                margin-top: 0.1rem;
                .date{
                    margin-right: 0.1rem;
                }
                .time{
                    margin-right: 0.1rem;
                }
                .language-type{
                    margin-right: 0.1rem;
                }
            }
            .cinema-box{
                font-size: 0.14rem;
            }
            .hall-section-seat{
                font-size: 0.14rem;
                display: flex;
                flex-flow: wrap;
                .hall-name{
                    margin-right: 10px;
                }
                .section-item{
                    display: flex;
                    flex-flow: wrap;
                }
                .section-name{
                    color:#e9ea95;
                    margin-right: 0.05rem;
                }
                .seat{
                    margin-right: 0.05rem;
                }
            }
            
        }
    }
    
}