@import "@/stylesheets/_base.scss";
@import "@/stylesheets/_mixin.scss";
.comment-list-container{
  min-height: 100%;
  // background: #f4f4f4;
  .header-wrapper{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    .adm-nav-bar{
      background-color: $base-color !important;
      color: #fff;
      .comment-title{
        color: #24292f;
        font-size: 0.16rem;
      }
      .comment-film{
        font-size: 0.12rem;
      }
    }
  }
  .comment-tip-wrapper{
    height: 0.5rem;
    padding: 0.12rem;
    display: flex;
    justify-content: space-between;
    // .what-comment-wrapper{
    //   text-align: center;
    //   color: $base-color;
    //   h3{
    //     color: $base-color;
    //     font-weight: bold;
    //   }
    // }
  }
  

}

