.file-detail-container {
  .header-wrapper {
    height: 2.1rem;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
  }
  .film-detail{
    padding: 0.12rem 0.15rem 0.15rem 0.15rem;
    .film-name{
      font-size: 18px;
      color: #191a1b;
      
      .show-type{
        padding: 0.01rem 0.03rem;
        background-color: #d2d6dc;;
        font-size: 0.11rem;
        border-radius: 0.04rem;
        color: #fff;
      }
    }
    .record-film{
      font-size: 0.13rem;
      color: #797d82;
      margin-top: 0.04rem;
    }
    .show-date{
      font-size: 0.13rem;
      color: #797d82;
      margin-top: 0.04rem;
    }
    .area-and-play-time{
      font-size: 0.13rem;
      color: #797d82;
      margin-top: 0.04rem;
    }
    .abstract{
      font-size: 0.13rem;
      margin-top: 0.12rem;
    }
  }
}
